  <%= form_for(@question, :url => question_set_questions_path, :html => { :class => "form-horizontal", "role" => "form" }) do |form| %>

    <div class="form-group">
      <label for="name"><%= t("question") %></label>
      <br>   
      <div class="col-lg-12">
        <%= form.text_area :question, :placeholder => t("questions.new.one_or_two_lines"), :required => true, :class => "form-control", :size => "25" %>
      </div>
    </div>

    <div class="form-group">
      <label for="name"><%= t("questions.new.choices") %></label>
      <br>
      <div class="col-lg-1">
        <%= radio_button_tag("choices[]", 1, true, disabled: true) %>
      </div>
      <div class="col-lg-5">
        <%= form.text_field :answer, :placeholder => "#{t("answer")} (#{t("questions.new.choice")} 1)", :required => true, :class => "form-control" %>
      </div>
      
    </div>
    
    <% (2..5).to_a.each do |i| %>
    <div class="form-group">
      <div class="col-lg-1">
        <%= radio_button_tag("choices[]", i, false, disabled: true) %>
      </div>
      <div class="col-lg-5">
        <%= form.text_field :choices, :placeholder => choice_placeholder(i), :required => i.eql?(5) ? false : true, :class => "form-control", :name => "question[choices][]" %>
      </div>
    </div>
    <% end %>

    <p>(<%= t("questions.new.choice_text") %>)</p>
    
    <div class="form-group">
      <%= form.submit t("actions.create"), :class => "btn btn-primary pull-right" %>
    </div>

  <% end %>