  <%= form_for(@question, :url => question_set_questions_path, :html => { :class => "form-horizontal", "role" => "form" }) do |form| %>

    <div class="form-group">
      <label for="name">கேள்வி</label><br>   
      <div class="col-lg-12">
        <%= form.text_area :question, :placeholder => "Name", :required => true, :class => "form-control", :size => "25" %><br>
      </div>
    </div>

    <div class="form-group">
      <label for="name">விடை</label><br>
      <div class="col-lg-4">
        <%= form.text_field :answer, :placeholder => "விடை", :required => true, :class => "form-control" %>
      </div>
      <div class="col-lg-4">
        <%= form.text_field :choices, :placeholder => "Choice 2", :required => true, :class => "form-control", :name => "question[choices][]" %>
      </div>
      <div class="col-lg-4">
        <%= form.text_field :choices, :placeholder => "Choice 3", :required => true, :class => "form-control", :name => "question[choices][]" %>
      </div><br><br>
      <div class="col-lg-4">
        <%= form.text_field :choices, :placeholder => "Choice 4", :required => true, :class => "form-control", :name => "question[choices][]" %>
      </div>
      <div class="col-lg-4">
        <%= form.text_field :choices, :placeholder => "Choice 5", :required => true, :class => "form-control", :name => "question[choices][]" %>
      </div>
    </div><br>
    
    <div class="form-group">
      <%= form.submit "செய்", :class => "btn btn-primary pull-right" %>
    </div>

  <% end %>