<div class="title-section">
  <div class="breadcrumb">
    <%= link_to(@question_set.name, question_set_path(@question_set.id)) %> / கேள்விகள்
  </div>
  <div>
    <div class="lead text-center" id="question-no"><%= @question_set.name %> - வினா 1 </div>

  </div>
</div>

<div class="content-section col-centered">
      
    <div class="tab-content">
      <% @questions.each_with_index do |question, index| %>

        <% if (index+1).eql?(1) %>
          <div class='tab-pane active' id='question-<%= index %>'> 
        <% else %>
          <div class='tab-pane' id='question-<%= index %>'> 
        <% end %>
            <%= link_to "Edit", edit_question_set_question_path(@question_set.id, question.id), :class => "btn btn-primary pull-right" %>
            
            <p><%= question.question %></p>

            <div class="choice-section">

              <% question.randomized_choices.each do |choice| %>
                <% if question.answer.eql?(choice) %>
                  <p><%= radio_button_tag("choices[#{question.id}]", choice, true) %> <span class="choice-label"><%= choice %></span></p>
                <% else %>
                  <p><%= radio_button_tag("choices[#{question.id}]", choice, false) %> <span class="choice-label"><%= choice %></span></p>
                <% end %>
              <% end %>
            </div><br>
            <% unless index == 0 %>
              <%= link_to "< முன்", "#question-#{index-1}", { :class => "question-switch btn btn-primary pull-left", "data-toggle" => "tab", "data-question-no" => "#{index}" } %>
            <% end %>
            <% unless index == @questions.length - 1 %>
              <%= link_to "பின் >", "#question-#{index+1}", { :class => "question-switch btn btn-primary pull-right", "data-toggle" => "tab", "data-question-no" => "#{index+2}" } %>
            <% end %>

          </div>
      <% end %>
    </div>
    
</div>



<script>
  jQuery(document).ready(function() { 
    jQuery(".question-switch").on('click', function(event){
      var questionNo = $(this).data("question-no");
      updateTitle(questionNo);
      jQuery(".pagination li").removeClass("active");
      jQuery("#question-page-"+questionNo).addClass("active");
    });

    jQuery(".question-page-switch").on('click', function(event){
      var questionNo = $(this).data("question-no");
      updateTitle(questionNo);
    });

    function updateTitle(questionNo){
      jQuery("#question-no").html("வினா " + questionNo)
    }
  })
</script>


