<div class="title-section">
  <div class="breadcrumb">
    <%= link_to(@category.name, category_path(@category.id)) %> / <%= link_to(@level.name, level_path(@level.id)) %> / <%= @question_set.name %>
  </div>
  
  <div>
    <div class="lead pull-left"><%= @question_set.name %></div>
    <% if @question_set.owner?(current_user) and !@question_set.approved? %>
      <%= link_to %( #{t("question")}), new_question_set_question_path(@question_set.id), :class => "fa fa-plus btn btn-primary pull-right" %>
      <%= link_to %( #{t("actions.view")}), question_set_questions_path(@question_set.id), :class => "fa btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>

<div class="content-section">
  <br>
  <div class="form-group">
    <label class="col-sm-4" for="name"><%= t("question_sets.headers.name") %></label>
    <div class="col-sm-4"><%= @question_set.name %></div>
  </div><br>

  <div class="form-group">
    <label class="col-sm-4" for="name"><%= t("category") %></label>
    <div class="col-sm-4"><%= @question_set.category.name %></div>
  </div><br>

  <div class="form-group">
    <label class="col-sm-4" for="name"><%= t("level") %></label>
    <div class="col-sm-4"><%= @question_set.level.name %></div>
  </div><br>

  <div class="form-group">
    <label class="col-sm-4" for="name"><%= t("question_sets.headers.count") %></label>
    <div class="col-sm-4"><%= questions_count(@question_set) %></div>
  </div><br>

  <% if @user_question_set and @user_question_set.completed? %>
    <div class="form-group">
      <label class="col-sm-4" for="name"><%= t("question_sets.headers.your_score") %></label>
      <div class="col-sm-4"><%= %(#{@user_question_set.score} (#{15 - @user_question_set.score.to_i} தவறுகள்)) %></div>
    </div><br>
  <% end %>
  
  <% if @question_set.owner %>
    <div class="form-group">
      <label class="col-sm-4" for="name"><%= t("question_sets.headers.owner") %></label>
      <div class="col-sm-4"><%= @question_set.owner.name %></div>
    </div><br>
  <% end %>
  
</div>
