<div class="details">

  <div class="title-section">
    <div class="breadcrumb">
      <%= link_to(@category.name, category_path(@category.id)) %> / <%= @level.name %>
    </div>
    <div class="lead"><%= @level.name %></div>
    <div class=""><p><%= @level.category.description %></p></div><br>
  </div>

  <% unless level_allowed? %>
    <%= t("levels.not_allowed") %>
  <% else %>
    <div class="content-section col-centered">
      <table class="table table-responsive table-hover">
        
        <tbody>
          <% @question_sets.each do |question_set| %>
            <% status = current_user.question_set_status(question_set) %>
            <tr>
              <td><%= question_set.name %></td>
              <td><i class="fa <%= play_status_icon(status) %> _tooltip" data-placement="top" data-original-title='<%= t("levels.progress.#{play_status(status)}") %>'></i></td>
              <td><%= current_user.question_set_score(question_set) %> <%= t("score") %></td>
              
              <% unless status %>
                <td><a href="#" data-toggle="modal" data-target="#quiz-start-modal-<%= question_set.id %>"><%= fetch_action(status) %></a></td>
              <% else %>
                <td><a href="<%= question_set_questions_path(question_set.id) %>" class=""><%= fetch_action(status) %></a></td>
              <% end %>
          
              <!-- Modal -->
              <div id="quiz-start-modal-<%= question_set.id %>" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <%= form_tag user_question_sets_path do %>
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><%= %(#{@level.category.name} - #{@level.name} - #{question_set.name}) %></h4>
                      </div>

                      <div class="modal-body">
                        <%= t("levels.start_quiz_text") %>
                        <%= hidden_field_tag :question_set_id, question_set.id %>
                      </div>

                      <div class="modal-footer">
                        <%= submit_tag t("actions.play"), :class => "btn btn-primary" %>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("actions.close") %></button>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="text-center">
      <%= will_paginate @question_sets, :renderer => BootstrapPagination::Rails, 
                                :previous_label => "<b class='arrow-left'><</b>",
                                :next_label => "<b class='arrow-right'>></b>",
                                :class => "pagination " %>
    </div>
  <% end %>

</div>
