<div class="details">

  <div class="title-section">
    <div class="lead">
      <%= @category.name %>
    </div>

    <div class="">
      <p><%= @category.description %></p>
    </div><br>
  </div>

  <% if current_user %>
    <% if current_user.badge(@category) %>
    <div class="lead col-centered text-center" >
      <%= t("categories.your_level") %> - <span class="highlighted"><%= t("badges.#{current_user.badge(@category)}") %></span>
    </div><br>
    <% end %>

    <div class="content-section col-centered">
      <table class="table table-striped table-hover">
        <thead><tr></tr></thead>
        <tbody>
          <% @category.levels.each do |level| %>
            <tr class="<%= can_play?(level) ? 'clickable-row' : 'muted' %> " data-href=<%= level_path(level.id) %> >
              <td><%= level.rank %></td>
              <td><%= level.name %></td>
              <td><%= score(@category, level) %> <%= t("score") %></td>
              <td><%= can_play?(level) ? '<i class="fa fa-unlock"></i>'.html_safe : '<i class="fa fa-lock"></i>'.html_safe %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    log in
  <% end %>

</div>
