<div class="header">
  <div class="container">
    <div class="hide-in-mobile pull-left"><h2><%= t("header_title") %></h2></div>
    <div class="show-in-mobile text-center"><h2><%= t("header_title") %></h2></div>
    
    <div class="pull-right login-section">
      <% if current_user %>
        <i class=""> </i>
        <div class="_tooltip" data-placement="bottom" data-original-title="<%= t("home.google") %>"><%= current_user.name %></div>
      <% else %>
        <%= link_to " ", user_omniauth_authorize_path(:google_oauth2), :class => "fa fa-power-off _tooltip", "id" => "login-tooltip", "data-placement" => "bottom", "data-original-title" => t("actions.login") %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#login-tooltip').tooltip({trigger: 'manual'}).tooltip('show');
</script>
